//Lobby Config
//Add this file in the root folder of your lobby server (same than your .exe or .86_64) to control some settings without needing to do a build each time.
//Keep in mind these will override the settings you set in NetworkData 
//Restart your server app whenever you change a setting

lobby_enabled: true
lobby_host: your.server.url.com
lobby_port: 7600
lobby_rooms: 10
game_path: /server/game/ServerGame.x86_64
game_port: 7500
game_port_min: 7501
game_port_max: 7599
game_players: 8
game_hosts:
your.server.url.com
